.hambergur-menu{
    list-style: none;
    display:flex;
    flex-direction: column;
    width:100%;
    
    letter-spacing: 1px;
    font-weight: 300;

  }
  .hambergur-menu li{
    font-size: 15px;
    display: inline-flex;
    
    padding: 5px 20px ;
    margin-bottom: 5px;
    border-top:var(--border);
   
  }
  .hambergur-menu li .icon{
    margin-right: 10px;
    font-size: 18px;
  }
  