.hambergur-menu {
  width: 100%;
  background-color: var(--background-color);
  height: 100vh;
}

.hambergur-menu-background {
  background: var(--background);
  backdrop-filter: blur(100px);
  width: 100%;
  height: 100%;

  /* Center the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hambergur-menu-overlay {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, 0);
  width: 100%;
}
.hambergur-menu-overlay button {
  display: flex;
  flex-direction: column;

  font-size: 20px;

  padding: 10px 10px 10px 0;

  margin-left: auto;
  background-color: transparent;
  border: none;
}

.hambergur-menu-overlay > ul {
  text-align: center;
  margin: auto auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 220px;

  letter-spacing: 1px;
  font-weight: 300;
}
.hambergur-menu-overlay li {
  font-size: 15px;
  display: flex;

  padding: 10px 20px;
  color: var(--color);
  margin: 2px;
  height: 100%;
}
.hambergur-menu-overlay li:last-child {
  bottom: 0;
}

.hambergur-menu-overlay li:hover {
  background-color: var(--outer-div-background);
}
.hambergur-menu-overlay li .icon {
  margin-right: 10px;
  font-size: 18px;
}
