@import "../App.css";
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@300&display=swap");
 .ql-container {
  min-height: 5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: var(--outer-div-background);
  scroll-behavior: smooth;
}

 .ql-toolbar {
  
  background: #dcdcdc;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom: none;
  
}
.post{
  width: 60%;
  padding:10px;
}
.postbox {
  min-height: 100vh;
  width: 100%;
  color: var(--color);
  background-color: var(--background-color);
}

.post-container-box {
  min-height: 100vh;
  color: var(--color);
  background-color: var(--background-color);
  border: var(--border);
  z-index: auto;
  height: auto;

  padding: 100px 2% 10vh 15%;
  align-items: center;
}
.post-container-box-layout {
  border: var(--border);
  width: 70%;

  box-shadow:
    rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.post-upload-header {
  display: flex;
  flex-direction: row;
  height: 60px;
  padding: 10px;
  background-color: var(--outer-div-background);
}
.post-container-box h4 {
  margin-left: 20px;
  margin-top: 10px;
  font-family: "Ysabeau Infant", sans-serif;
}
.post-container-box h1 {
  margin-left: 20px;
  margin-top: 10px;
  font-family: "Ysabeau Infant", sans-serif;
}
.post-upload-button {
  margin-left: auto;
  border-radius: 30px;
  width: 120px;
  display: inline-block;
  height: 40px;
  border: none;
  font-size: 13px;
  color: white;
  background-color: #4ab2f5;
}
.post-image-banner {
  height: 40vh;
  width: 100%;
  margin: 15px 0;
}
.html-content {
  color: var(--color) !important;
  background-color: var(--background-color);
  padding: 20px;
  max-width: 100%;
  overflow-wrap: break-word;
  margin-bottom: 30px;
}
.html-content h1,h2,h3,h4,h5,h6{
  color:var(--color) !important;
}
.html-content strong{
  color: var(--color) !important;
  background-color: var(--background-color);

}
.html-content a{
  color:var(--div-background)
}
.html-content img {
  width: 100% !important;
  text-align: center !important;
}
.html-content blockquote {
  max-width: 100% !important;
  padding:20px;
  color:var(--button);
}

.fix-like-comment-div{
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
  background-color: var(--div-background);
}

.create-post-form {
  width: 100%;
  border: var(--border);

  background-color: var(--outer-div-background);
  color: var(--color);
}

.text-editor {
  margin: 20px 10% !important;
  color: var(--color);
  background-color: var(--background-color);
}
.create-post-form input[name="heading"] {
  border: 2px dashed gainsboro;
  width: 80%;
  height: 80px;

  margin: 20px 10%;
  padding: 0 20px;
  font-size: xx-large;
  font-weight: 800;
  background-color: var(--background-color);
  color: var(--color);
}
.previewImage {
  position: relative;
  /* display: flex; */
}

.previewImage > svg {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  cursor: pointer;
}

.previewImage > img {
  width: 80%;
  margin: 20px 10%;
  max-height: 20rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
.create-post-form button {
  margin: 20px 10%;
  padding: 0 20px;
  height: 40px;
  border: var(--border);
  border-radius: 30px;
  background-color: #4ab2f5;
}
.create-post-form input[name="tags"] {
  display: block;
  width: 80%;
  height: 50px;
  border: 2px dashed gainsboro;
  margin: 20px 10%;
  padding: 0 20px;
  font-size: large;
  font-weight: 800;
  background-color: var(--background-color);
  color: var(--color);
}
.create-post-form select {
  margin: 20px 10% 100px 10%;
  padding: 10px 10px;
  width: 80%;
  height: 40px;
  border: var(--border);
  border-radius: 15px;
  background-color: var(--background-color);
  color: var(--color);
}

.container-top-new {
  align-items: center;
  padding:5px;
}

/*new css for post */
.post-outer-container{
  padding:6rem 0 0 0 ;
  min-width:100%;
  min-height:100vh ;
  display: flex;
  flex-direction: column;
 background-color: var(--div-background);

}
.post-inner-container{
 margin: 0 auto auto auto;
 
 width:60%;
 min-height: 100vh;
}

.post-user-details-container{
  width:100%;
  height:4em;
  
  padding:10px;
  display: flex;
  position: relative;
  
  flex-direction: row;
}
.post-user-details-container div:last-of-type{
margin-left: auto;
margin-right: 10px;
}
.post-user-details-container button{
  height: 40px;
  width:100px;
  color:white;
  background-color: var(--button);
  border: none;
}

.post-user-details-container-item{
  margin:5px 10px;
  display: flex;

  flex-direction: column;
}

.post-user-details-container-item p{
font-size: 12px;
font-weight: 400;
letter-spacing: 1px;
color: var(--color);

}
.post-user-details-container-item p:last-of-type{
  font-size: 10px;
  font-weight: 300;
  color:rgb(174, 174, 174);
}

@media only screen and (max-width: 450px) {
  .post-inner-container{
    width:100%;
  }
  
  .post-container-box {
    width: 100%;
    z-index: auto;
    height: auto;
    padding: 100px 0;
  }
  .post-container-box-layout {
    width: 100%;
    
  }
  .post{
    width: 100%;
    padding:20px;
  }
  .post-image-banner {
    height: 20vh;
    width: 90%;
    margin: 10px  5%;
    
  }
  .create-post-form input[name="heading"] {
    width: 80%;
    margin: 10px 10%;
    font-size: large;
  }
  .create-post-form input[name="desc"] {
    width: 100%;
    margin: 5px;
    font-size: large;
    margin: 5px;
  }
}
