@import "../App.css";
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@300&display=swap");
 .ql-container {
  min-height: 4em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
  scroll-behavior: smooth;
}

 .ql-toolbar {
  background: #dcdcdc;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom: none;
  
}
.post{
  width: 60%;
  padding:10px;
}
.postbox {
  min-height: 100vh;
  width: 100%;
  color: var(--color);
  background-color: var(--background-color);
}

.post-container-box {
  min-height: 100vh;
  color: var(--color);
  background-color: var(--background-color);
  border: var(--border);
  z-index: auto;
  height: auto;

  padding: 100px 2% 10vh 15%;
  align-items: center;
}
.post-container-box-layout {
  border: var(--border);
  width: 70%;

  box-shadow:
    rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.post-upload-header {
  display: flex;
  flex-direction: row;
  height: 60px;
  padding: 10px;
  background-color: var(--outer-div-background);
}
.post-container-box h4 {
  margin-left: 20px;
  margin-top: 10px;
  font-family: "Ysabeau Infant", sans-serif;
}
.post-container-box h1 {
  margin-left: 20px;
  margin-top: 10px;
  font-family: "Ysabeau Infant", sans-serif;
}
.post-upload-button {
  margin-left: auto;
  border-radius: 30px;
  width: 120px;
  display: inline-block;
  height: 40px;
  border: none;
  font-size: 13px;
  color: white;
  background-color: #4ab2f5;
}
.post-image-banner {
  height: 40vh;
  width: 70%;
  margin: 25px 0;
}
.html-content {
  color: var(--color) !important;
  background-color: var(--background-color);
  padding: 20px;
}

.html-content strong{
  color: var(--color) !important;
  background-color: var(--background-color);

}
.html-content a{
  color:var(--div-background)
}
.html-content img {
  width: 100% !important;
  text-align: center !important;
}

.create-post-form {
  width: 100%;
  border: var(--border);

  background-color: var(--outer-div-background);
  color: var(--color);
}

.text-editor {
  margin: 20px 10% !important;
}
.create-post-form input[name="heading"] {
  border: 2px dashed gainsboro;
  width: 80%;
  height: 80px;

  margin: 20px 10%;
  padding: 0 20px;
  font-size: xx-large;
  font-weight: 800;
  background-color: var(--background-color);
  color: var(--color);
}
.previewImage {
  position: relative;
  /* display: flex; */
}

.previewImage > svg {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  cursor: pointer;
}

.previewImage > img {
  width: 80%;
  margin: 20px 10%;
  max-height: 20rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
.create-post-form button {
  margin: 20px 10%;
  padding: 0 20px;
  height: 40px;
  border: var(--border);
  border-radius: 30px;
  background-color: #4ab2f5;
}
.create-post-form input[name="tags"] {
  display: block;
  width: 80%;
  height: 50px;
  border: 2px dashed gainsboro;
  margin: 20px 10%;
  padding: 0 20px;
  font-size: large;
  font-weight: 800;
  background-color: var(--background-color);
  color: var(--color);
}
.create-post-form select {
  margin: 20px 10% 100px 10%;
  padding: 10px 10px;
  width: 80%;
  height: 40px;
  border: var(--border);
  border-radius: 15px;
  background-color: var(--background-color);
  color: var(--color);
}

.container-top-new {
  align-items: center;
}
.modelBox{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:400px;
  height: 60vh;
  scroll-behavior: smooth;
  overflow-y:scroll ;
  background-color: var(--div-background);
  border: none;
  box-shadow: var(----box-shadow);

}

@media only screen and (max-width: 450px) {
 
  .postbox {
  }
  .post-container-box {
    width: 100%;
    z-index: auto;
    height: auto;
    padding: 100px 5px;
  }
  .post-container-box-layout {
    width: 90%;
    margin: 0 5%;
  }
  .post{
    width: 100%;
    padding:20px;
  }
  .post-image-banner {
    height: 20vh;
    width: 92%;
    margin: 10px;
  }
  .create-post-form input[name="heading"] {
    width: 80%;
    margin: 10px 10%;
    font-size: large;
  }
  .create-post-form input[name="desc"] {
    width: 100%;
    margin: 5px;
    font-size: large;
    margin: 5px;
  }
}
