.search-result {
  color: var(--color);
  background-color: var(--background-color);
  width: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  min-height: 100vh;
}
.search-container {
  color: var(--color);
  background-color: var(--outer-div-background);
  width: 100%;
  margin-top: 6rem;
  border-radius: 10px;
}
.search-container > h2{
  padding: 10px 20px;
  text-align: start;
  font-weight: 300;
}
.category-content {
  
  min-height: 100vh;
  
}
@media only screen and (max-width: 450px) {
  .search-result {
    grid-template-columns: auto;
    min-height: 100vh;
  }
  .sidebar {
    display: none;
  }
}
